@charset "UTF-8";


html,body{
    height: 100%;
     /* min-height: 150px;  福原さんから聞いたのを後で調べてみる*/
    background: linear-gradient(to bottom, #056BC9,#3C99F0 , #76B7D3, #A4C69B,#DDD855);
    text-align: center;
    color:aliceblue;
    min-height: 650px; 
    font-family:Arial;
}

/* .box1がログインのほうのボックスデザイン */
.box1{
    margin:  0 auto; /*中央に寄せたかった　ブロック要素なのでこの記述*/    
    padding: 0.5em 1em;/*文字一つ一つの行間*/
    width: 285px;/*四角形にするためのやつ*/
    height: 300px;
    color: #FFFFFF(15, 20, 24);/*文字色*/
    margin-top: 30px;
    border-radius: 15px;/*外側の角の丸み*/
    background-color: rgba(0, 0, 0, 0.2);
}

/* .box2が登録のほうのボックスデザイン */
.box2{
    margin:  0 auto; /*中央に寄せたかった　ブロック要素なのでこの記述*/  
    padding: 15px;/*文字一つ一つの行間*/
    width: 285px;/*四角形にするためのやつ*/
    height: 470px;
    color: #FFFFFF(15, 20, 24);/*文字色*/
    margin-bottom: 20px;    
    border-radius: 10px;/*外側の角の丸み*/
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    
}


/* 新規登録後のボックスデザイン */
#clear{
 margin:  0 auto; /*中央に寄せたかった　ブロック要素なのでこの記述*/    
    padding: 0.5em 1em;/*文字一つ一つの行間*/
    width: 230px;/*四角形にするためのやつ*/
    height: 220px;
    color: #FFFFFF(15, 20, 24);/*文字色*/
    margin-top: 30px;
    margin-right: 550px;
    border-radius: 15px;/*外側の角の丸み*/
    background-color: rgba(0, 0, 0, 0.2);   
}

.addtext{
    font-size:  12px;
    word-break: normal;
    overflow-wrap: break-word;
    white-space: normal;

}

.custom-form{
    background-color: red;
    color: #FFFFFF;
    text-align: 20px;
    width: 100px;
    height: 40px;
    margin: 15px 154px 30px;  /* ↓、→　下の物体が下に行く　*/
    border-radius: 10px;
}


input, textarea, select {
    color: rgb(15, 14, 14);
    width: 100%;      /*フォーム内を埋めるためのもの*/
    border-radius: 5px; /*メールアドレスとか入れるところの角の丸み*/
    border: 1px; 
    
}



.register{
  color: #FFFFFF;
  /*11/29 下記追加 新規ユーザーの方はこちらの文字を下に*/ 
  position: relative;
  top: 10px;
}

.atlaspng{
    position: relative;
    top: 13px;
    margin-right:20px;

}

.social{
   width: 200px;
   margin-left: 528px;
   transform: translateX(-90px); 
   font-size:  30px; 
   white-space: nowrap;  /*文字を折り返さないようにした*/
   font-family:Arial;
   font-weight:bold;
}

.sinki{
    white-space: nowrap; 
     font-size:  17px;
     margin-top: 15px; 
    font-family:Arial;
}

.list{
    text-align: left;
    border: 1px;
}

label{
    font-size: 12px;
}

a {
color: white;
text-decoration: underline;
}

a:hover {
  color: white;
}







