@charset "utf-8";
html{
}
body{
  overflow-x: hidden;
  
}
/* header */
header{
    background:#186AC9;
}



/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;     
}

#side-bar{
    flex: 0 0 19%;
    border-left: 1.3px solid #727272;
    min-height: 500px;
    margin-top: -11px;
}



/* 下記は矢印をいじる際のボタン 矢印の位置もここで調整する*/
.menu-btn {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 68px;
    right: 220px;
    border: none;
    outline: none;
    transition: transform 0.3s ease-in-out;

  background: none;   /* 背景を消す */
  border: none;       /* 枠線を消す */
  outline: none;      /* フォーカス時の枠を消す */
  padding: 0;         /* 内側余白をなくす */
  cursor: pointer; 
  }


  /* ↑を作るためにbeforeを記載 */
  .menu-btn::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;  /* ← relative から absolute に変更 */
    top: 0;              /* ← bottom:32px を削除して top:0 に統一 */
    left: 0;
    border: solid 3px #E7F1FA;

    border-width: 0 0 3px 3px;
    transform: rotate(-45deg); /* 初期の矢印の形 */
    transform-origin: center; /* ← 回転中心を固定 */
    transition: transform 0.3s ease-in-out;
    display: block;
}

#accordion{
  position:relative;
  left:120px;
  bottom: 120px;
}

.myname{
 position:relative;
 left: 80%;
 bottom: 20px;
 color:#FFFFFF;
}

.menu-btn:focus-visible {
    box-shadow: 0 0 0 2px blue;
  }
  
  /* メニューの初期状態（非表示） */
  .menu {
    width: 272px;
    position: absolute;
    top: 110px;
    right: 100px;
    color: #808080;
    display: none; /* 初期状態は非表示 */
    background-color: #f1f1f1; /* 背景色を追加 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 軽い影を追加 */
    z-index: 0;    /* クリックできるように追加！ */
  }
  
  /* メニューが表示されている状態 */
  .menu.open {
    display: block;
    animation: slideDown 0.3s ease-in-out; /* メニューがスライドダウンするアニメーション */
    background-color:#FFFFFF;
    height: 163px;
    pointer-events: auto; /* 開いている時だけクリック可能 */
    z-index: 9999; /* メニューが開いた時だけ最前面 */
}


/* モーダルの中のHOMEとかの文字のサイズを変えるためのclass */
  .modalcharacter a{
   color: #A3A3A3;
   position: relative;
   top: 16px;
  }

  .menu li{
    background-color: transparent;
    height: 55px;
    transition: background-color 0.3s ease;
    text-align:center;
   }

  .menu li:hover {
    background-color: #00297E;
    

   } 

  .menu-btn.show {
    transform: rotate(180deg);
     /* ボタンを反対にさせるためのコード */
     
  }
  /* スライドダウンアニメーション */
  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  

 
/* 4/1　追記　アイコンのモーダルのスタイル */
.modal-main{ /* ① */
  display: none;/*  display: none;を消したら、キャンセルした後に編集ボタンが出てくる*/
  /* 下記は4/27にモーダルを削除するために追加 */
  position: fixed;       /* ←画面全体に固定 */
  top: 0px;
  left: 0px;
  width: 100vw;   /* ←画面いっぱいに広げる */
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* ←暗い背景でクリックしやすく */
  z-index: 1000;
  justify-content: center;
  align-items: center;
 
}

/* 11/7 追記　この後JSを記載する予定背景固定用 */
body.modal-open {
  overflow: hidden;
}

/* このモーダルは削除ボタンの時のモーダル */
.modal-inner { /* ② */
  display: flex;
  justify-content: center;
  text-align:center;
  width: 430px;
  height: 19%;
  background-color: #ffffff;
  color: #666666;
  position: fixed;
  top: 0;
  left: 400px;
  z-index: 2;
  font-size: 13px;

}


/* このモーダルは編集ボタンの時のモーダル */
.hmodal-inner { /* ② */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 635px;
  height: 229px;
  background-color: white;
   border-radius: 8px;
}



 
.inner-content{ /* ③ */
  margin: 0;
  padding: 0;
  max-width: 1024px;
  text-align: right;
  display: flex;
  white-space: nowrap;
  position: relative;
  left:32px;
  top:10px;
}



.modal-inner img{ /* ④ */
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.inner-title{ /* ⑤ */
  margin-top: 40px;
  margin-bottom: 32px;
  font-size: 2.8rem;
  font-weight: bold;
}
.inner-text{ /* ⑥ */
  font-size: 1.6rem;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
.modalClose{ /* ⑦ */
  cursor: pointer;
}
#cakelife .send-button {
  background-color: #f63001;
  color: #fff;
}
#cakelife .send-button:hover {
  background-color: #ff5a33;
}

/* 削除ボタンを押した時の中身のOKの部分のモーダルの中身 */
.send-button.modalClose{
  background-color: #7895D7;
  color:#F2F5FB;
  border-radius: 10px;/*角の丸み*/
  width: 80px;
  height: 35px;
  position: relative;
  top:40px;
  right: 75px;
  font-size: 13px;
  outline: none;  /* フォーカス時の青い枠を消す */
  border: none;  
}

/* 編集ボタンを押した時の中身の編集ボタンのところ */
.send-button.modaleditClose{
  background: none;     /* 背景を消す */
  border: none;         /* 枠線を消す */
  padding: 0;           /* 余白をなくす */
  cursor: pointer;
  display: flex;
  justify-content: center; /* 横中央 */
  align-items: center; 
  position: relative;
  bottom: 3px;
  width: 84px;
  height: 51px; 
  left: 260px;
}

/* 編集ボタンを押した時の中身の編集するフォームのところ*/
.modal-textarea{
  width: 561px;
  height: 147px;
  resize: none;
  display: block;
  margin: 0 auto; /* 中央寄せしたいならこれ */
  margin-top: 24px;
}


/* 削除ボタンを押した時の中身のキャンセルの部分のモーダルの中身 */
.modalCloseBtnOnly{
 border-radius: 10px;/*角の丸み*/
 width: 80px;
 height: 35px;
 position: relative;
 top:40px;
 right: 62px;
 font-size: 12px;
 background-color: #FFFFFF;
}

/* 削除ボタンを押した時のアイコンが変わるときのモーダル */

.delete-btn:hover {
  content: url("/images/trash.png");
  width: 32px;
  height: 32px;
  
}

/*他人のプロフィールページのところ  */
.otherprofiletitle {
 position: relative;
 left: 90px;
}

/*プロフィールページのところ のアイコンのところ */
.profileicon{
  border-radius: 50%;
  position: relative; /* 今の位置を基準 */
  top: 60px; 
  right: 280px;
  height: 45px;
}


/* アトラスのロゴの写真のところ */

.formtext{
  margin-left: 60px;
  position: relative;
  top: -38px;
}

.errors{
  color: red;
}


/* 投稿内容を入力してくださいのフォームの部分 */
.formcontent{
  resize: none;
  width: 400px;
  border-color:#ffffff;
  height:75px;  
}

/* 投稿内容を入力してくださいの文字の部分 */
.formcontent::placeholder {
color: #D8D8D8;  
opacity: 1;  
position: relative;
top: 5px;
}

.button{
  all: unset; 
  cursor: pointer;  
  transform: translateX(280px);
}


.banner {
  width: 100%;

}

.banner-img {
  width: 80px;   /* Atlas画像だけを小さく */
  margin-left: 15px;
  margin-top: 20px;
}

.icon{
  border-radius: 50%;
}      /* アイコンを丸くするためのもの */

.Two-Icon{
  float: right;
   display: flex;
   margin-top: -35px;
  
}
/* 上記は削除ボタンと編集ボタンを右に寄せるもの */


.post-time{
  float: right;
  margin-top: -45px;
}

.topusername{
  position: relative;
  left:70px;
  bottom:44px;
  color:#252525;
  font-size:14.5px;
}

/* topの一番最初のユーザーの投稿したポスト */
.userspost{
  margin-left: 70px;
  margin-top: -38px;
  white-space: pre-line;
  height: auto;
}


/* 他ユーザエーの大枠の投稿したポスト */
.fouserspost{
  position: relative;
  left:70px;
  top:30px;
}

/* 他ユーザーの投稿したポストと名前 */
.seconduserspost{
 position: relative;
 left: 8%;
 bottom: 49px;
}

/* 他ユーザーの投稿した時の時間 */
.followpost-time{
  float: right;
  margin-top: -100px;
}

/* フォローリストとフォロワーリストのボタン*/
.btn{
    
    color: #FFFFFF;/*文字色*/
    background: #0067C6;
    border-radius: 10px;/*角の丸み*/
    width: 55%;
    height: 30px;
    white-space: nowrap;
    margin-left: 70px; 
}


/* ユーザー検索のボタン*/
.btn-user{
  color: #FFFFFF;/*文字色*/
  background: #0067C6;
  border-radius: 10px;/*角の丸み*/
  padding-left: 20px;
  width: 55%;
  height: 30px;
  margin-left: 70px; 
  white-space: nowrap;
  margin-top: 20px;
}

.top_post{
position: relative; /* 今の位置を基準 */
top: 25px; 
left: 50px;
height: 120px;
}


.second_post{
  margin-left: 75px; 
  margin-bottom: 19px;
  height: fit-content;
}

/*/searchでの ユーザー検索をする際のフォーム*/
.user_search{
  margin-left: 40px; 
  padding: 10px 0px 23px 0px; 
}

.search_form{
  width: 220px;
  height: 33px;
  border-color:#7D7D7D;
  border-width: 1px;
}

.search_png{
position: relative; /* 今の位置を基準 */
top: 10px; /* 上から10px */
left: 15px;
}

.user_search_content{
  margin-left: 180px; 
}

.search_username{
position: relative; /* 今の位置を基準 */
top: 25px; /* 上から10px */
left: 110px;
}

/* 下記はseach.blade.phpの時のフォローと解除ボタン */
.follow-btn{
position: relative; /* 今の位置を基準 */
bottom: 35px; 
left: 350px;
border-radius: 10px;
width: 120px;
border: 1px
}

/* 下記はotherprofile.blade.phpの時のフォローと解除ボタン */
.otherfollow-btn{
position: relative; /* 今の位置を基準 */
top: 50px; 
left: 660px;
border-radius: 10px;
width: 120px;
border: 1px
}

/* 下記はプロフィールを更新する際のボタン */
.update-btn{
  cursor: pointer;  
  color: #FAC7CD;/*文字色*/
  background: #ED3A50;
  border-radius: 10px;/*角の丸み*/
  width: 140px;
  height: 30px;
  white-space: nowrap;
  margin-right: 180px; 
  outline: none;  /* フォーカス時の青い枠を消す */
  border: none; 
  position: relative; /* 今の位置を基準 */
  top: 20px; 

}

.profiletitle{
  margin-left:450px;
  bottom: 35px; 
  

}

/* 下記はプロフィールページのメールアドレスとかユーザー名を変更するやつ */
.profilename{
  display: flex;
  align-items: center;
  position: relative; 
  top:30px;
  right:200px;

  
}

.form-input{
  background-color: #EFEFEF;
  position: relative;
  left:20px;
  border: 1.5px solid #ccc; 
  width:300px
}

/* input[type=file] {
    position: relative;
  
    pointer-events: auto;
} */

/* 下記はプロフィールページのファイルを選択してくださいのフォーム */
.form-aiconinput{
  position: relative;
  left:20px;
  width: 300px;
  height: 80px;
  background-color: #FFFFFF;
}



.banner_icon{
  float: right;
  margin-right: 30px; 
  margin-top: 20px; 
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

/* 下記はフォローリストとフォロワーリストのcss */
.list_icon{
  display: flex;
  margin-left: 70px;
  flex-wrap: wrap;
  gap: 15px;
}

a {
color: white;
font-weight: 300;
font-size: 13px;

}

a:hover {
  color: white;
  text-decoration: none;
}

/* otherprofile.blade.phpのcss */
.posting-content{
  position: relative; 
  left: 8%;
  bottom: 44px; 
  height: 1px;
}

.posting-time{
 position: relative; 
 left: 800px;
 bottom: 40px; 
}


/* otherprofile.blade.phpのcss left: 75px; bottom: 70px;にしたいがしたらフォローするボタンが押せなくなる  */
.otherusername{
  display:flex;
  gap: 0px 50px;
  position: relative; 
  left: 7%;
  bottom: 70px; 
}

.otherbio{
 display:flex;
 gap: 0px 62px;
 position: relative; 
 left: 7%;
 bottom: 70px; 
}