@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#186AC9;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

.menu-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 120px;
    right: 220px;
    background-color: #fff;
    border: none;
    outline: none;
    transition: transform 0.3s ease-in-out;
  }


  /* ↑を作るためにbeforeを記載 */
  .menu-btn::before {
    content: '';
    width: 40px;
    height: 40px;
    border: solid 3px #333;
    border-width: 0 0 3px 3px;
    transform: rotate(135deg); /* 初期の矢印の形 */
    transition: transform 0.3s ease-in-out;
    display: block;
}

.menu-btn.show::before {
    transform: rotate(-225deg); /* クリック時に反転する矢印 */
}

  
  .menu-btn:focus-visible {
    box-shadow: 0 0 0 2px blue;
  }
  
  /* メニューの初期状態（非表示） */
  .menu {
    position: absolute;
    width: 170px;
    top: 160px;
    right: 100px;
    padding: 20px;
    color: #808080;
    display: none; /* 初期状態は非表示 */
    background-color: #f1f1f1; /* 背景色を追加 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 軽い影を追加 */
  }
  
  /* メニューが表示されている状態 */
  .menu.open {
    display: block;
    animation: slideDown 0.3s ease-in-out; /* メニューがスライドダウンするアニメーション */

  }
  
  .menu-btn.show {
    transform: rotate(180deg);
    /* ボタンを反対にさせるためのコード */
  }
  /* スライドダウンアニメーション */
  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .menu ul {
    padding: 30;
    list-style: none;
  }



  
/* 4/1　追記　モーダルのスタイル */
.modal-main{ /* ① */
  display: none;
  /* 下記は4/27にモーダルを削除するために追加 */
  position: fixed;       /* ←画面全体に固定 */
  top: 0;
  left: 0;
  width: 100vw;          /* ←画面いっぱいに広げる */
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* ←暗い背景でクリックしやすく */
  z-index: 1000;
  justify-content: center;
  align-items: center;
}
.modal-inner { /* ② */
  display: flex;
  justify-content: center;
  text-align:center;
  width: 50%;
  height: 50%;
  background-color: #ffffff;
  color: #666666;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.inner-content{ /* ③ */
  text-align: center;
  margin: 0;
  padding: 0;
  max-width: 1024px;
}
.modal-inner img{ /* ④ */
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.inner-title{ /* ⑤ */
  margin-top: 40px;
  margin-bottom: 32px;
  font-size: 2.8rem;
  font-weight: bold;
}
.inner-text{ /* ⑥ */
  font-size: 1.6rem;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
.modalClose{ /* ⑦ */
  cursor: pointer;
}
#cakelife .send-button {
  background-color: #f63001;
  color: #fff;
}
#cakelife .send-button:hover {
  background-color: #ff5a33;
}



/* 削除ボタンを押した時のモーダル */

.delete-btn:hover {
  content: url("/images/trash.png");
  width: 32px;
  height: 32px;
  
}


  










